html {margin: 0; padding: 0; background-color: #FFFFFF;}
body {margin: 15px 0 15px; padding: 0; text-align: left;}
#imPage {margin: 0 auto; width: 960px; position: relative;}
#imHeader {margin-bottom: 33px; height: 350px; background-color: #FFFFFF; background-image: url('top.png'); background-position: top left; background-repeat: no-repeat;}
#imMnMn {position: absolute; top: 350px; left: 0;  height: 33px; width: 840px; padding: 0px 60px 0px 60px; background-color: #FFEFBF;}
#imMnMn li {display: inline}
#imContent {min-height: 380px; position: relative; width: 954px; padding: 3px 3px 3px 3px; }
#imContentGraphics {min-height: 380px; position: absolute; top: 383px; bottom: 0; left: 0; width: 960px; background-color: #FFFFFF;}
#imFooterBg {clear: both; bottom: 0; width: 100%; background-color: transparent;}
#imFooter {position: relative; margin: 0 auto; height: 20px; width: 960px; background-color: #FFEFBF; background-image: url('bottom.png'); background-position: top left; background-repeat: no-repeat;}
